@page
@model PacificTours.Pages.HotelBookingModel
@{
    ViewData["Title"] = "Hotel Booking";
}

<div class="row">
    <div class="col-lg-6 mx-auto rounded border p-3">
        <h2 class="text-center mb-3">New Hotel Booking</h2>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        
        <form id="HotelBookingForm" method="post" asp-controller="HotelBooking" asp-action="SubmitBooking">
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Hotel</label>
                <div class="col-sm-10">
                    <select class="form-control" name="Hotel" asp-for="Input.Hotel">
                        <option value="">-- Select --</option>
                        <option value="">Hilton London Hotel</option>
                        <option value="">London Marriot Hotel</option>
                        <option value="">Travelodge Brighton Seafront</option>
                        <option value="">Kings Hotel Brighton</option>
                        <option value="">Leonardo Hotel Brighton</option>
                        <option value="">Nevis Bank Inn, Fort William</option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" name="Room">Room</label>
                <div class="col-sm-10">
                    <select class="form-control" name="Room" asp-for="Input.Room">
                        <option value="">-- Select --</option>
                        <option value="">Single</option>
                        <option value="">Double</option>
                        <option value="">Family</option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Check In</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control w-100" name="CheckIn" asp-for="Input.CheckInDate"/>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Check Out</label>
                <div class="col-sm-10 date">
                    <input type="date" class="form-control w-100" name="CheckOut" asp-for="Input.CheckOutDate"/>
                </div>
            </div>

            <button id="HotelBookingSubmission" type="submit" class="w-100 btn btn-lg btn-primary">Confirm Booking</button>
            <button class="w-100 btn btn-lg btn-primary mt-2">Book Hotel and Tour Package</button>
            <button class="w-100 btn btn-lg btn-secondary mt-2">Cancel</button>
        </form>
    </div>
</div>