@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Pacific Tours</h1>
</div>
<a href="/User">User</a>
<br />
<a href="/Admin">Admin</a>
<br />
<a href="/Client">Client</a>
<br />
<br />
<br />
<div class="text-center"><a class="col-md-4 mx-auto rounded border p-3" href="/HotelBooking/HotelBooking">Book Here</a></div>
<br />