@page
@model PacificTours.Pages.TourBookingModel
@{
    ViewData["Title"] = "Tour Booking";
}

<div class="row">
    <div class="col-lg-6 mx-auto rounded border p-3">
        <h2 class="text-center mb-3">New Tour Booking</h2>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        
        <form id="TourBookingForm" method="post" asp-controller="TourBooking" asp-action="SubmitBooking" asp-action="OnPostAsync">
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Tour Type</label>
                <div class="col-sm-10">
                    <select class="form-control" asp-for="Input.Tour_Id"> 
                        @foreach (var tour in Model.Tours)
                        {
                            <option value="@tour.Tour_Id">@tour.TourName</option>
                        }
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Tour Start</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control w-100" asp-for="Input.CheckInDate" />
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Tour End</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control w-100" asp-for="Input.CheckOutDate" />
                </div>
            </div>

            <button id="HotelBookingSubmission" type="submit" class="w-100 btn btn-lg btn-primary">Confirm Booking</button>
            <button class="w-100 btn btn-lg btn-secondary mt-2">Cancel</button>
        </form>
    </div>
</div>